In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.utils import resample
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import SMOTE

In [10]:
data=pd.read_csv('customer_churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [12]:
#dropping unrelated variables
data = data[['Churn','SeniorCitizen', 'tenure', 'MonthlyCharges']]

In [13]:
def boolean(x):
  if 'Yes' in x:
        return "1"
  else:
        return '0'
    
    
    
data['Churn'] = list(map(boolean, data['Churn']))

In [14]:
data.head()

  Churn  SeniorCitizen  tenure  MonthlyCharges
0     0              0       1           29.85
1     0              0      34           56.95
2     1              0       2           53.85
3     0              0      45           42.30
4     1              0       2           70.70

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
correlations_matrix = X.corr()
sns.heatmap(correlations_matrix, annot=True)
plt.show()

NameError: name 'X' is not defined

In [17]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
MonthlyCharges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

In [ ]:
# X/y split
X = data.drop('Churn',axis = 1)
y = data['Churn']

In [ ]:
data.dtypes

In [ ]:
#scaling
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0) # default fraction is .2

In [ ]:
# Scaling data
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X_train) # need to keep transformer
X_train_normalized = transformer.transform(X_train)
X_train_norm = pd.DataFrame(X_train_normalized)
X_train_norm.columns = X_train_num.columns
X_train_norm.head()
X_test_normalized = pd.DataFrame(transformer.transform(X_test),columns=X.columns)

In [ ]:
X_test_normalized

In [ ]:
y_train = y_train.reset_index(drop=True) 
# needed because the transformation also reset the index for X_train_scaled
# so we need this for y_test as well...
y_test = y_test.reset_index(drop=True)

In [ ]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression(random_state=0, solver='lbfgs')
LR.fit(X_train_normalized, y_train)

In [ ]:
LR.predict_proba(X_train_normalized)

In [ ]:
logits = np.log(1/LR.predict_proba(X_train_scaled)[:,1]-1)

In [ ]:
plt.scatter(logits,X_train_norm['MonthlyCharges'])

In [ ]:
plt.scatter(logits,X_train_norm['tenure'])

In [ ]:
plt.scatter(logits,X_train_norm['SeniorCitizen'])

In [ ]:
# significant imbalance

count_classes = data['Churn'].value_counts()
count_classes

In [ ]:
5174/(5174+1869)

In [ ]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression(random_state=0, solver='lbfgs')
LR.fit(X_train_norm, y_train)
LR.score(X_test_normalized, y_test)

In [ ]:
#while accuracy is not absolutely terrible, a closer look reveals some serious problems
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

pred = LR.predict(X_test_normalized)

print("precision: ",precision_score(y_test,pred, pos_label='1'))
print("recall: ",recall_score(y_test,pred,pos_label='1' ))
print("f1: ",f1_score(y_test,pred, pos_label='1'))

In [ ]:
sm = SMOTE(random_state=100, k_neighbors=3)
X_train_SMOTE,y_train_SMOTE = sm.fit_resample(X_train_norm,y_train)

In [ ]:
X_train_SMOTE.shape

In [ ]:
# yet another small improvement, but bear in mind that we saved 12 hypothetical people with
# these "small improvements"
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression(random_state=0, solver='lbfgs')
LR.fit(X_train_SMOTE, y_train_SMOTE)
pred = LR.predict(X_test_normalized)

print("precision: ",precision_score(y_test,pred, pos_label='1'))
print("recall: ",recall_score(y_test,pred, pos_label='1'))
print("f1: ",f1_score(y_test,pred, pos_label='1' ))

In [ ]:
confusion_matrix(y_test,pred)

In [ ]:
y_train.value_counts()